{% extends 'app1/base.html' %}


{% block body_block %}

    <div class="jumbotron gp-jumbotron">
        <h1>Add a Place to <a href="/app1/{{ division.slug }}/"> {{ division.title }}</a>
            division</h1>
    </div>

    <div class="container-fluid gp-container-normal">

        <form class="gp-form" role="form" id="page_form" method="post" action="/Home/Division/add_page/"
              enctype="multipart/form-data">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="form-group">
                    <p class="required">{{ field.help_text }}</p>
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit" name="submit">Add Place</button>

        </form>

    </div>
{% endblock %}