{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Bangladesh Travel Magazine</title>

    <!--
      <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
        -->

    <link rel="stylesheet" href="{% static "app1/CSS/style.css" %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>

      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->


</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top gp-navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {#            <a class="navbar-brand" href="/app1/">BDTM</a>#}
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav gp-navbar-nav">
                {% if user.is_authenticated %}

                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Divisions
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'division_detail' "dhaka" %}">Dhaka</a></li>
                            <li><a href="{% url 'division_detail' "chittagong" %}">Chittagong</a></li>
                            <li><a href="{% url 'division_detail' "rajshahi" %}">Rajshahi</a></li>
                            <li><a href="{% url 'division_detail' "sylhet" %}">Sylhet</a></li>
                            <li><a href="{% url 'division_detail' "khulna" %}">Khulna</a></li>
                            <li><a href="{% url 'division_detail' "barisal" %}">Barisal</a></li>
                            <li><a href="{% url 'division_detail' "rangpur" %}">Rangpur</a></li>
                        </ul>
                    </li>
                    {# <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>#}

                    {% if user.is_authenticated %}
                        <li><a href="{% url 'user_profile' user.username %}">{{ user.username }}</a></li>
                    {% endif %}

                    {# <li><a href="/admin/">{{ user.username }}</a></li>#}
                    {# Source: http://stackoverflow.com/questions/806835/django-redirect-to-previous-page-after-login#}
                    <li><a href="{% url 'auth_logout' %}">Logout</a></li>

                {% else %}
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'registration_register' %}?next={{ request.path }}">Register Here</a></li>
                    <li><a href="{% url 'auth_login' %}?next={{ request.path }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid gp-container-main">
    {% block body_block %}

    {% endblock %}
</div>
<div class="footer">
    <p>Copyright &copy; Traitorz. All rights reserved.</p>
</div>

</body>
</html>