{% load el_pagination_tags %}

{% paginate 4 stories %}
{% csrf_token %}

{% for obj in stories %}
    {% if obj.id not in final_report %}
        {% if obj.id not in report_list %}

            <div id="story_id_{{ obj.id }}" class="ts-story-view">
                <div class="ts-story-menu">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle"
                                type="button"
                                data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                {% if obj.story_page_id not in favourites %}
                                    <a href="#" id="ts-story-favourite"
                                       data-id="{{ obj.story_page_id }}">Add {{ obj.story_page }} to Favourite</a>
                                {% endif %}
                            </li>
                            <li>
                                <a href="#" id="ts-story-report" data-id="{{ obj.id }}">Report</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ts-story-top-bar">
                    <div class="ts-story-author-img"
                         style="background-image:
                                 url({% if  obj.user.userprofile.image %}'{{ obj.user.userprofile.image.url }}'{% else %}'/media/default-placeholder.png'{% endif %});"></div>
                    <div class="ts-story-post-info-top">
                        <p class="ts-user-name"><span><a href="{% url 'user_profile' obj.user %}">{{ obj.user }}</a></span>
                            {% if user != obj.user %}
                                {% load app1_extras %}

                                {% pass_follower_list request.user obj.user.id forloop.counter %}

                            {% endif %}
                        </p>

                        <p class="ts-date-place">{{ obj.created_date|date:"d M Y" }} about {{ obj.story_page }}, {{ obj.story_division }}.</p>
                    </div>

                </div>

                {% if obj.stories.all.count > 0 %}
                    <div class="ts-story-img">

                        {% if obj.stories.all.count == 1 %}

                            {% for obj2 in obj.stories.all %}

                                <div class="ts-story-img-single">
                                    <img src="{{ obj2.file.url }}" alt="">
                                </div>

                            {% endfor %}

                        {% elif obj.stories.all.count == 2 %}

                            {% for obj2 in obj.stories.all %}

                                <div class="ts-story-img-double">
                                    <img src="{{ obj2.file.url }}" alt="">
                                </div>

                            {% endfor %}

                        {% elif obj.stories.all.count == 3 %}

                            {% for obj2 in obj.stories.all %}


                                {% if forloop.counter == 1 %}
                                    <div class="ts-story-img-single">
                                        <img src="{{ obj2.file.url }}" alt="">
                                    </div>
                                {% else %}
                                    <div class="ts-story-img-double">
                                        <img src="{{ obj2.file.url }}" alt="">
                                    </div>
                                {% endif %}


                            {% endfor %}

                        {% else %}

                            {% for obj2 in obj.stories.all|slice:":3" %}


                                {% if forloop.counter == 1 %}
                                    <div class="ts-story-img-single">
                                        <img src="{{ obj2.file.url }}" alt="">
                                    </div>
                                {% else %}
                                    <div class="ts-story-img-double">
                                        <img src="{{ obj2.file.url }}" alt="">
                                    </div>
                                {% endif %}


                            {% endfor %}
                            <div class="ts-story-img-more">
                                <a href="{% url 'picture_details' obj.id %}"> Click here for other images.</a>
                            </div>

                        {% endif %}

                    </div>
                {% endif %}

                <div class="ts-story-view-text">
                    {{ obj.des }}
                </div>
                <div class="ts-story-bottom-bar">
                    <p>Tour cost {{ obj.budget }} take with {{ obj.member }} members.</p>
                </div>
                <div class="gp-util-bar">
                    <div class="gp-div-half">
                        <a id="likes" data-id="{{ obj.id }}" class="gp-like-button">
                            <span id="gp-like-logo-{{ obj.id }}"
                                  class="glyphicon {% if obj.id in like_list %}glyphicon glyphicon-heart {% else %} glyphicon-heart-empty {% endif %}"></span>
                            <span id="gp-total-like-{{ obj.id }}">{{ obj.total_likes }}</span>
                        </a>
                    </div>
                    <div class="gp-div-half">
                        <a id="ts-share" data-id="{{ obj.id }}" class="gp-share" data-toggle="confirmation"><span
                                class="glyphicon glyphicon-share-alt"></span> Share</a>
                    </div>

                </div>
                <div class="gp-comment-group">
                    {#                <div id="total_comments{{ forloop.parentloop.counter }}" class="gp-total-comments">#}
                    {#                    <a onclick="toggleDiv(this,{{ forloop.counter }})" class="gp-flat-link">#}
                    {#                        <p>Total {{ obj.comments.count }} comments.</p>#}
                    {#                    </a>#}
                    {#                </div>#}

                    <div id="{{ forloop.counter }}">

                        {% for comment in obj.comments.all %}
                            <div class="gp-comment" id="ts-single-comment-{{ comment.id }}">
                                <p class="gp-username"><a
                                        href="{% url 'user_profile' comment.author.username %}">{{ comment.author.username }}</a>
                                </p>
                                <p class="gp-date">{{ comment.created_date|date:"d M Y" }}</p>
                                <p id="comment{{ comment.id }}" class="gp-content">{{ comment.text }}</p>
                                {% if comment.id in comment_list %}
                                    <div id="comment_buttons{{ comment.id }}">
                                        <div class="bg-margin-top-10">
                                            <a class="btn btn-danger btn-xs" id="delete_story_comment"
                                                    {#                                           data-toggle="confirmation"#}
                                               data-id1="{{ forloop.parentloop.counter }}"
                                               data-id2="{{ comment.id }}">
                                                Delete
                                            </a>

                                            <button class="btn btn-info btn-xs" id="edit"
                                                    onclick="edit_comment( {{ forloop.parentloop.counter }}, {{ comment.id }})">
                                                Edit
                                            </button>
                                        </div>
                                    </div>

                                    <div id="comment_edit_form_div{{ comment.id }}" style="display: none">
                                        <form id="comment_edit_form{{ comment.id }}">
                                            <input type="text" name="comment_edit"
                                                   id="comment_edit_text{{ comment.id }}"
                                                   value="{{ comment.text }}" class="form-control">
                                        </form>
                                    </div>
                                {% endif %}

                            </div>

                        {% endfor %}
                    </div>
                    <!-- Comment show end -->


                    <!-- Adding a comment part start -->

                    <form id="add_comment{{ forloop.counter }}" data-id='{{ obj.id }}' method="POST"
                          class="gp-form-story-comment">
                        {% csrf_token %}
                        <div class="input-group">
                            <input class="form-control" type="text" id="text{{ forloop.counter }}"
                                   maxlength="1000" name="text" required>
                            <div class="input-group-btn">
                                <button class="btn btn-default"
                                        onclick="commentDiv({{ forloop.counter }})"
                                        type="submit">
                                    <i class="glyphicon glyphicon-send"></i>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        {% endif %}
    {% endif %}
{% endfor %}


{% show_more %}

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

{% block javascript_block %}

    <script>

        function modal_open(title, message) {
            $("h4.modal-title").text(title);
            $(".modal-body p").text(message);
            $("#myModal").modal();
        }

        $(function () {


            $('[data-toggle=confirmation]').confirmation({
                rootSelector: '[data-toggle=confirmation]'
            });


            /**
             * Share story to followers
             */
            $("a#ts-share").on('click', function () {

                var story_id = $(this).attr("data-id");

                console.log(story_id);

                var data = {
                    story_id: story_id,
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
                };

                $.post('{% url 'ajax_notify_followers' %}', data, function (data) {
                    console.log(data);
                    if (data.success) {
                        modal_open("Success!", "The story successfully shared to your followers.");
                    }
                });
            });
        });


        function edit_comment(divID, comment_id) {
            $("#comment_buttons" + comment_id).hide();
            $("#comment_edit_form_div" + comment_id).show();
            $("#comment" + comment_id).hide();
            $("#comment_edit_form" + comment_id).on('submit', function (event) {
                event.preventDefault();
                var element = $(this);
                element.off('submit');
                var text = $("#comment_edit_text" + comment_id).val();
                //alert(text);
                $.ajax({
                    url: '{% url 'comment_edit' %}',
                    type: 'POST',
                    data: {
                        comment_id: comment_id,
                        new_comment: text,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function () {
                        //alert("yoo yoo wassup?");
                        $("#comment_edit_form_div" + comment_id).hide();
                        $("#comment" + comment_id).show();
                        $("#comment_buttons" + comment_id).show();
                        $("#comment" + comment_id).text($("#comment_edit_text" + comment_id).val());
                    }
                });
            });

        }


        $('[data-toggle=confirmation]').confirmation({
            rootSelector: '[data-toggle=confirmation]'
            // other options
        });


        $("body").on("click", "#delete_story_comment", function () {

            var r = confirm("Are you sure you want to delete the comment?");
            if (r == false) {
                return;
            }


            var divID = $(this).attr('data-id1');
            var comment_id = $(this).attr('data-id2');

            console.log(comment_id);

            $.ajax({
                url: '{% url 'comment_delete' %}',
                type: 'POST',
                data: {
                    comment_id: comment_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function () {
                    $("#ts-single-comment-" + comment_id).remove();
                }
            });
        });

        $("body").on("click", "#ts-story-favourite", function (event) {
            event.preventDefault();

            var story_id = $(this).attr("data-id");

            favourite_place(story_id);
        });

        function favourite_place(story_place) {

            $.ajax({
                url: '{% url 'favourite_place' %}',
                type: 'POST',
                data: {
                    story_place: story_place,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function () {
                    $("a#ts-story-favourite[data-id='" + story_place + "']").remove();

                    modal_open("Success!", "The place added to your favourite list.");

                }
            });

            return false;

        }

        /**
         * Not used
         */
        function not_favourite_place(story_place) {

            // alert(ques_ans)
            //alert("Favourite!");
            // $("#story_id_" + divid).hide();
            //alert(story_place);
            $.ajax({
                url: '{% url 'not_favourite_place' %}',
                type: 'POST',
                data: {
                    story_place: story_place,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function () {
                    //alert("Created a New Comment");
                    //load('index.html');
                }
            });

        }

        $("body").on("click", "#ts-story-report", function (event) {
            event.preventDefault();

            var story_id = $(this).attr("data-id");

            ownreport(story_id);
        });

        function ownreport(story_id) {

            // alert(ques_ans)
            alert("Reported! you will not see this again :)");

            //$("#story_id_" + divid).hide();
            //alert(story_id);
            $.ajax({
                url: '{% url 'own_report' %}',
                type: 'POST',
                data: {
                    story_id: story_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function () {
                    window.location = '{% url 'index' %}';
                }
            });

        }

    </script>
{% endblock %}