{% extends 'app1/base.html' %}

{% block body_block %}

    <div class="jumbotron gp-jumbotron">
        <h1>BDTM Community!</h1>
    </div>

    <div class="container-fluid gp-container-normal">
        <div class="gp-side-panel">
            <form class="navbar-form navbar-left" method="post" action="{% url 'search_ques' %}">{% csrf_token %}
                <div class="input-group">
                    <input type="text" name="ques" class="form-control" placeholder="Search for Any Place">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <hr>
        <div class="gp-side-panel">
            <div class="gp-side-panel-title">
                Have A Travel Query?
            </div>

            <form class="gp-side-panel-form" role="form" id="question_form" method="post">
                {% csrf_token %}
                {% for hidden in q_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in q_form.visible_fields %}
                    <div class="form-group">
                        <p class="required">{{ field.help_text }}</p>
                        {{ field.errors }}
                        {{ field }}
                    </div>
                {% endfor %}
                <button id="ask" class="btn btn-primary btn-block"  type="submit">Ask</button>
            </form>
        </div>

        <hr>

        <div class="gp-side-panel" id="ques_ans">
            <div class="gp-side-panel-title">
                Recently Asked Questions
            </div>

            <div class="gp-side-panel-content">
                {% if question_list %}
                    {% for obj in question_list %}
                        <div class="gp-ques-ans-panel-block" id="q{{ forloop.counter0 }}">
                            <div class="gp-ques-block">
                                <h2 class="gp-ques-title">{{ obj.question }}</h2>
                                <p class="gp-ques-date">{{ obj.created }}</p>
                                <p class="card-text-author">Asked by <a
                                        href="{% url 'user_profile' obj.author %}">{{ obj.author }}</a></p>
                                <a href="{% url 'ques_detail' obj.id %}">single view</a>
                            </div>

                            <div class="gp-ques-ans">

                                {% if obj.answers.all.exists %}
                                    <p class="gp-ques-ans-count">Total {{ obj.answers.all.count }} answer found!</p>

                                    {% for obj2 in obj.answers.all %}
                                        <div class="gp-ques-ans-block">
                                            <h4>
                                                <a href="{% url 'user_profile' obj2.answered_by %}">{{ obj2.answered_by }}</a>
                                            </h4>
                                            <h3 class="gp-ques-ans-text">{{ obj2.text }}</h3>
                                            <p class="gp-ques-ans-date">{{ obj2.created }}</p>

                                            {% if obj2.answered_by_id == user_id %}
                                                <div class="bg-margin-top-10">
                                                    <button class="btn btn-danger"
                                                            onclick="del_answer( {{ forloop.parentloop.counter }}, {{ obj2.id }})">
                                                        Delete
                                                    </button>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}

                                {% else %}
                                    <p class="gp-ques-ans-count">No answer found yet!</p>
                                {% endif %}

                            </div>


                            <form id="add_answer{{ forloop.counter }}" data-id={{ obj.id }} method="POST"
                                  class="gp-form-story-comment">
                                {% csrf_token %}

                                <div class="input-group">
                                    <input class="form-control" type="text" id="text{{ forloop.counter }}"
                                           maxlength="1000" name="text" required>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" onclick="answerDiv({{ forloop.counter }})"
                                                type="submit">
                                            <i class="glyphicon glyphicon-send"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    {% endfor %}
                {% else %}
                    <div class="gp-ques-block">
                        <div class="gp-ques-ans-block">
                            <h3 class="gp-ques-ans-text gp-center">
                                No Questions asked Yet!
                            </h3>
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>

    </div>



    <script>
        function del_answer(ques_ans, answerID) {

            // alert(ques_ans)
            //alert(answerID)
            $.ajax({
                url: '{% url 'answer_delete' %}',
                type: 'POST',
                data: {
                    answer_id: answerID,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function () {
                    // alert("Created a New Comment");
                    $("#" + "ques_ans").load(" #" + "ques_ans");
                    //alert("deleted")
                }
            });

        }

        {##}
        {#        function add_answer() {#}
        {#            var element = $(this);#}
        {#            var _id = element.attr("data-id");#}
        {#            $.ajax({#}
        {#                url: {% url 'save_answer' %},#}
        {#                type: 'POST',#}
        {#                data: {#}
        {#                    ques_id: _id,#}
        {#                    csrfmiddlewaretoken: '{{ csrf_token }}'#}
        {#                },#}
        {#                success: function () {#}
        {#                    // alert("Created a New Comment");#}
        {#                    $("#" + "ques_ans").load(" #" + "ques_ans");#}
        {#                    //alert("deleted")#}
        {#                }#}
        {#            });#}
        {##}
        {#        }#}
        function answerDiv(formId) {

            $("#add_answer" + formId).on('submit', function (event) {

                event.preventDefault();
                var element = $(this);
                element.off('submit');
                var _id = element.attr("data-id");
                $.ajax({
                    url: {% url 'save_answer' %},
                    type: 'POST',
                    data: {
                        text: $('#text' + formId).val(),
                        ques_id: _id,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function () {
                        // alert("Created a New Comment");
                        $("#" + "ques_ans").load(" #" + "ques_ans");
                        //alert("deleted")
                    }
                });
            });
        }

    </script>


    <!--ask a question ajax-->
    <script>
            var q_form = $("#question_form");
            q_form.submit(function () {
                $.ajax({
                    url: {% url 'save_question' %},
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function () {
                        $("#" + "ques_ans").load(" #" + "ques_ans");
                        $('#question').val('')

                        //alert("yoo");
                    }
                });
                return false;
            });
    </script>


{% endblock %}

<!-- creating custom change list -->