{% extends 'app1/base.html' %}




{% block body_block %}
    <h1>Welcome {{ user.username }}</h1>
    <h1>Trending places ---  </h1>
    {% if page_list %}






    {% for page in page_list %}
        <div class="card" style="width: 20rem;">
              <div class="card-block">
            <div class="container">
                <br>
                  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 950px;">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                      {% for image_obj in page.pages.all %}

                          {% if forloop.first %}
                              <div class="item active">
                                    <img class="card-img-top" src="{{ image_obj.pic.url }}" alt="IMAGE GOES HERE",width="400" height="345">
                              </div>
                          {% else %}
                               <div class="item">
                                    <img class="card-img-top" src="{{ image_obj.pic.url }}" alt="IMAGE GOES HERE",width="400" height="345">
                                </div>
                          {% endif %}

                      {% endfor %}
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>

                    <h4 class="card-title">{{ page.name }}</h4>
                    <p class="card-text">{{ page.des }}</p>
                    <a href="{% url 'story' page.division page.slug %}" class="btn btn-primary">ViewDetails</a>
                  </div>
        </div>
        <hr>

    {% endfor %}


     {% else %}
            <br>
             <h2><strong>Looks like people are not going Anywhere!</strong></h2>
    {% endif %}

{% endblock %}