{% extends 'app1/base.html' %}

{% block body_block %}
    <div class="jumbotron gp-jumbotron">
        <h1>Welcome {{ user.username }}!</h1>
    </div>


    <h3> <a href="{% url 'story_share' %}">Share Your Story</a></h3>

    <h2>Most Recently Active Places are </h2>
    <div class="container-fluid gp-container-normal">

        <div class="row">
            <div class="col-sm-8">

                {#                <h2 class="gp-text-normal-bigger gp-text-center">Most recently Active Locations</h2>#}
                {% if page_list %}
                    <!-- trending list start-->
                    {% for page in page_list %}

                        <div class="container-fluid gp-div-post-summery">


                            <!-- image part for each page -->
                            {% if page.pages.all.exists %}

                                <div class="gp-slide-show">

                                    <div class="gp-slide-shadow"></div>
                                    <div id="gp-Carousel{{ forloop.counter }}" class="carousel slide gp-carousel"
                                         data-ride="carousel">
                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">

                                            <!-- showing every image in that page -->
                                            {% for image_obj in page.pages.all %}

                                                {% if forloop.first %}
                                                    <div class="item active">
                                                        <img class="card-img-top gp-card-img" src="{{ image_obj.file.url }}">
                                                    </div>
                                                {% else %}
                                                    <div class="item">
                                                        <img class="card-img-top gp-card-img" src="{{ image_obj.file.url }}">
                                                    </div>
                                                {% endif %}

                                            {% endfor %}
                                        </div>
                                        <!-- Left and right controls -->
                                        <a class="left carousel-control" id="gp-carousel-control"
                                           href="#gp-Carousel{{ forloop.counter }}" role="button"
                                           data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" id="gp-carousel-control"
                                           href="#gp-Carousel{{ forloop.counter }}" role="button"
                                           data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                    {#                                {% else %}#}
                                    {#                                    <p class="gp-post-no-image-text">No images Shared Yet!</p>#}

                                </div>
                            {% endif %}


                            <div class="gp-desc">

                                <h4 class="card-title">{{ page.name }}</h4>
                                <p class="card-text">{{ page.des }}</p>
                                <div class="gp-button-panel">
                                    <a href="{% url 'story' page.division page.id %}" class="btn btn-primary">View Tour Plan</a>
                                </div>
                            </div>

                        </div>

                    {% endfor %}
                {% else %}
                    <h2><strong>Looks like people are not going Anywhere!</strong></h2>
                {% endif %}

            </div>

            {# ------------------------------------------------------------ #}




            <div class="col-sm-4 gp-side-panel-container">



                <hr>

                <div class="gp-side-panel">
                    <div class="gp-side-panel-title">
                        Recently Asked Questions
                            <a href="{% url 'forum' %}">VIEW ALL</a>

                    </div>

                    <div class="gp-side-panel-content">
                        {% if question_list %}
                            {% for obj in question_list %}
                                <div class="gp-ques-ans-panel-block" id="q{{ forloop.counter0 }}">
                                    <div class="gp-ques-block">
                                        <h2 class="gp-ques-title">{{ obj.question }}</h2>
                                        <p class="gp-ques-date">{{ obj.created }}</p>
                                    </div>

                                    <div class="gp-ques-ans">

                                        {% if obj.answers.all.exists %}
                                            <p class="gp-ques-ans-count">Total {{ obj.answers.all.count }} answer found!</p>

                                            {% for obj2 in obj.answers.all %}
                                                <div class="gp-ques-ans-block">
                                                    <h3 class="gp-ques-ans-text">{{ obj2.text }}</h3>
                                                    <p class="gp-ques-ans-date">{{ obj2.created }}</p>
                                                </div>
                                            {% endfor %}

                                        {% else %}
                                            <p class="gp-ques-ans-count">No answer found yet!</p>
                                        {% endif %}

                                    </div>

                                    <form method="POST" role="form" id="answer_form" class="gp-side-panel-form"
                                          action="{% url 'save_answer' obj.id %}">
                                        {% csrf_token %}
                                        {% for hidden in a_form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        <div class="form-group">

                                            <textarea placeholder="Have you the answer?" class="form-control" cols="40" id="id_text" maxlength="500" name="text"
                                                      rows="1" required=""></textarea>

                                        </div>
                                        <button class="btn btn-primary btn-block" type="submit" name="submit">Give Answer</button>
                                    </form>
                                </div>
                            {% endfor %}

                        {% else %}
                            <h2>No Questions asked Yet</h2>
                        {% endif %}
                    </div>

                </div>


            </div>



            <div class="col-sm-4 gp-side-panel-container">
                <hr>
                <div class="gp-side-panel">
                    <div class="gp-side-panel-title">
                        Recently Shared Story
                    </div>

                    <div class="gp-side-panel-content">
                        {% if recent_story %}
                            {% for obj in recent_story %}
                                <div class="gp-ques-ans-panel-block" id="q{{ forloop.counter0 }}">
                                    <div class="gp-ques-block">
                                        <a href="{% url 'story_detail' obj.id %}"><h2 class="gp-ques-title">{{ obj.title_name }}</h2></a>
                                        <p class="gp-ques-date">{{ obj.created_date }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h2>No Stories Shared Yet</h2>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>
    </div>




{% endblock %}

<!-- creating custom change list -->