{% extends 'app1/base.html' %}
{##}
{#changed#}

{% load staticfiles %}


{% block body_block %}
    <div class="jumbotron gp-jumbotron">
        <h1>Welcome {{ user.username }}!</h1>
    </div>
    <div class=" container-fluid gp-container-normal">

        <div class="row">

            <div class="col-sm-8">


                <div class="ts-story-write">

                    <form id="story-write">

                        {% csrf_token %}

                        <div class="ts-story-text">
                            <textarea id="des" class="form-control" name="des" rows="5" placeholder="Write your awesome story here..." required></textarea>
                        </div>

                        <div class="ts-story-location">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                                <div class="ts-width-half">
                                    <select id="story_division" class="form-control" name="story_division" required>

                                        <option value selected>Select a Division...</option>

                                        {% for division in divisions %}

                                            <option value="{{ division.id }}">{{ division.title }}</option>

                                        {% endfor %}

                                    </select>
                                </div>
                                <div class="ts-width-half">
                                    <input id="place_name" class="form-control col-xs-6" type="text" name="place_name" placeholder="Place name (in English)"
                                           disabled required>

                                    <div id="auto_complete_list" style="display: none;" class="ts-autocomplete-list">

                                    </div>
                                </div>
                            </div>

                        </div>
                        <script>
                            $(function () {
                                $("#story_division").change(function () {
                                    if ($("#story_division").val()) {
                                        $("#place_name").prop("disabled", false);
                                    } else {
                                        $("#place_name").prop("disabled", true);
                                        $("#place_name").val("");
                                    }
                                });

                                $ac_list = $("#auto_complete_list");

                                $in_place_name = $("#place_name");

                                $ac_list.css("top", $in_place_name.height());
                                $ac_list.css("width", $in_place_name.width());

                                $("#auto_complete_list").on("click", "p", function () {
                                    $("#place_name").val($(this).text());

                                    console.log($(this).text());

                                    hide_auto_complete_list();

                                });

                                $("#place_name").blur(function () {

                                    setTimeout(function () {
                                        hide_auto_complete_list();
                                    }, 1000);

                                });


                                $in_place_name.on("input", function () {
                                    if ($(this).val() != "") {


                                        var data = {
                                            division: $("#story_division").val(),
                                            query: $("#place_name").val()
                                        };

                                        $.get("{% url 'ajax_get_place_names' %}", data, function (result) {
                                            console.log(result);

                                            if ($.isEmptyObject(result) == false) {
                                                $("#auto_complete_list").empty();

                                                result.forEach(function (element) {
                                                    $("#auto_complete_list").append("<p>" + element + "</p>")
                                                });

                                                $("#auto_complete_list").show();
                                            } else {
                                                hide_auto_complete_list();
                                            }


                                        });
                                    }
                                });

                                function hide_auto_complete_list() {
                                    $("#auto_complete_list").hide();
                                }
                            });

                        </script>

                        <div class="ts-story-optionals">
                            <div class="ts-story-image" style="display: none;">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                                    <label for="image_uploads">Choose images to upload...</label>
                                    <input id="image_uploads" class="form-control" type="file" accept="image/png, image/jpeg" name="img_files" multiple>
                                </div>

                                <div class="ts-story-img-preview" style="display: none;">

                                </div>
                            </div>


                            <div class="ts-story-budget input-group" style="display: none;">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                <input class="form-control" type="number" name="budget" placeholder="Budget in Taka (Optional)">
                            </div>

                            <div class="ts-story-member-count input-group" style="display: none;">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input class="form-control" type="number" name="member" placeholder="Total Journey member (Optional)">
                            </div>

                            <div class="ts-story-tour-type input-group" style="display: none;">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-sunglasses"></i></span>
                                <select class="form-control" name="type_name">
                                    <option value>Select the tour type...</option>

                                    {% for type in types %}

                                        <option value="{{ type.id }}">{{ type.type_name }}</option>

                                    {% endfor %}

                                </select>
                            </div>
                        </div>

                        <div class="ts-story-btn-panel">
                            <div class="ts-story-optionals-btn">
                                <a href="#" id="ts-btn-story" data-id="ts-story-image" class="btn ts-btn-left" data-toggle="tooltip" title="Images"><span
                                        class="glyphicon glyphicon-picture"></span></a>
                                <a href="#" id="ts-btn-story" data-id="ts-story-budget" class="btn ts-btn-left" data-toggle="tooltip" title="Budget"><span
                                        class="glyphicon glyphicon-usd"></span></a>
                                <a href="#" id="ts-btn-story" data-id="ts-story-member-count" class="btn ts-btn-left" data-toggle="tooltip"
                                   title="Total journty member"><span
                                        class="glyphicon glyphicon-user"></span></a>
                                <a href="#" id="ts-btn-story" data-id="ts-story-tour-type" class="btn ts-btn-left" data-toggle="tooltip" title="Tour type"><span
                                        class="glyphicon glyphicon-sunglasses"></span></a>
                            </div>
                            <input href="#" type="submit" class="btn btn-default ts-btn-right" value="Post">
                        </div>

                    </form>


                </div>


                <script>

                    $(function () {
                        // Bootstrap tooltips
                        $('[data-toggle="tooltip"]').tooltip();


                        // story form open close button
                        $(".ts-story-write").click(function (event) {
                            if (event.target == this) {
                                event.preventDefault();
                                $(".ts-full-screen").removeClass("ts-full-screen");
                            }
                        });

                        $("#story-write").click(function () {

                            if ($(".ts-story-write").hasClass("ts-full-screen") == false) {
                                $(".ts-story-write").addClass("ts-full-screen");
                            }

                        });


                        // submit story form
                        $("form#story-write").submit(function (event) {
                            event.preventDefault();

                            // https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects

                            var formElement = $("form#story-write")[0];

                            var formData = new FormData(formElement)

                            // http://api.jquery.com/jquery.ajax/

                            $.ajax({
                                url: "{% url 'ajax_add_story' %}",
                                data: formData,
                                type: 'POST',
                                processData: false,
                                contentType: false,
                                success: function (result) {
                                    if (result.success) {
                                        location.reload();
                                    }
                                },
                                error: function (result) {
                                    console.log(result);
                                }
                            });

                        });

                        $("a#ts-btn-story").click(function (event) {
                            event.preventDefault();

                            $the_attr = $(this).attr("data-id");

                            if ($(this).hasClass("ts-btn-enabled")) {
                                $(this).removeClass("ts-btn-enabled");
                                $("." + $the_attr + " input").val("");
                                $("." + $the_attr + " select").val("");
                            } else {
                                $(this).addClass("ts-btn-enabled");
                            }

                            $("." + $the_attr).fadeToggle();

                        });
                    });

                    /**
                     * Help doc:
                     * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file
                     */

                    var file_input = document.querySelector('#image_uploads');
                    $file_input_label = $('label[for="image_uploads"]');
                    var preview = document.querySelector('.ts-story-img-preview');

                    file_input.style.display = "none";

                    file_input.addEventListener('change', updateImageDisplay);

                    function updateImageDisplay() {
                        while (preview.firstChild) {
                            preview.removeChild(preview.firstChild);
                        }

                        //for="image_uploads"

                        var curFiles = file_input.files;
                        if (curFiles.length === 0) {

                            $file_input_label.text('Choose images to upload...');

                            preview.style.display = "none";

                        } else {

                            $file_input_label.text(curFiles.length + " files selected.");

                            for (var i = 0; i < curFiles.length; i++) {
                                if (validFileType(curFiles[i])) {
                                    //para.textContent = 'File name ' + curFiles[i].name + ', file size ' + returnFileSize(curFiles[i].size) + '.';
                                    var image = document.createElement('img');
                                    image.src = window.URL.createObjectURL(curFiles[i]);

                                    preview.appendChild(image);
                                }
                            }

                            preview.style.display = "block";
                        }
                    }

                    var fileTypes = [
                        'image/jpg',
                        'image/jpeg',
                        'image/png'
                    ];

                    function validFileType(file) {
                        for (var i = 0; i < fileTypes.length; i++) {
                            if (file.type === fileTypes[i]) {
                                return true;
                            }
                        }

                        return false;
                    }
                </script>


                {% if stories %}

                    {% include page_template %}

                {% else %}

                    <div class="jumbotron gp-jumbotron">
                        <h1>Sorry no stories shared yet!</h1>
                    </div>

                {% endif %}

                {# story show Ends #}

            </div>

            {# ------------------------------------------------------------ #}

            <div class="col-sm-4 gp-side-panel-container">

                <div class="gp-side-panel">
                    <div class="gp-side-panel-title">
                        View stories form
                    </div>

                    <div class="gp-side-panel-content">
                        <ul class="gp-side-panel-list">
                            <li><a href="{% url 'division_detail' "dhaka" %}">Dhaka</a></li>
                            <li><a href="{% url 'division_detail' "chittagong" %}">Chittagong</a></li>
                            <li><a href="{% url 'division_detail' "rajshahi" %}">Rajshahi</a></li>
                            <li><a href="{% url 'division_detail' "sylhet" %}">Sylhet</a></li>
                            <li><a href="{% url 'division_detail' "khulna" %}">Khulna</a></li>
                            <li><a href="{% url 'division_detail' "barisal" %}">Barisal</a></li>
                            <li><a href="{% url 'division_detail' "rangpur" %}">Rangpur</a></li>
                            <li><a href="{% url 'division_detail' "mymensingh" %}">Mymensingh</a></li>
                        </ul>
                    </div>
                </div>

                <hr>

                {#             ===============      trending block   ============      #}

                <div class="gp-side-panel">
                    <div class="gp-side-panel-title">
                        Top 7 Places Visited Last Week
                    </div>

                    <div class="gp-side-panel-content">

                        {% if page_list %}
                            <!-- trending list start-->
                            {% for page,value in page_list.items %}
                                <h2>Total {{ value }} stories shared In this page </h2>
                                <div class="container-fluid gp-div-post-summery">

                                    <!-- image part for each page -->

                                    {% if page.pages.all.exists %}

                                        <div class="gp-slide-show">

                                            <div class="gp-slide-shadow">
                                                <h4 class="card-title">
                                                    <a href="{% url 'story' page.division page.id %}">{{ page.name }}</a>
                                                </h4>
                                                <p class="card-text">{{ page.des }}</p>
                                            </div>
                                            <div id="gp-carousel{{ forloop.counter }}"
                                                 class="carousel slide gp-carousel"
                                                 data-ride="carousel">
                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner" role="listbox">

                                                    <!-- showing every image in that page -->
                                                    {% for image_obj in page.pages.all %}

                                                        {% if forloop.first %}
                                                            <div class="item active">
                                                                <img class="card-img-top gp-card-img"
                                                                     src="{{ image_obj.file.url }}">
                                                            </div>
                                                        {% else %}
                                                            <div class="item">
                                                                <img class="card-img-top gp-card-img"
                                                                     src="{{ image_obj.file.url }}">
                                                            </div>
                                                        {% endif %}

                                                    {% endfor %}
                                                </div>
                                                <!-- Left and right controls -->

                                            </div>

                                        </div>

                                    {% else %}


                                        <div class="gp-desc">

                                            <h4 class="card-title">
                                                <a href="{% url 'story' page.division page.id %}">{{ page.name }}</a>
                                            </h4>
                                            <p class="card-text">{{ page.des }}</p>

                                        </div>

                                    {% endif %}

                                </div>

                            {% endfor %}
                        {% else %}
                            <div class="container-fluid gp-div-post-summery gp-center">
                                <div class="gp-desc">
                                    Looks like people are not going Anywhere! O.o
                                </div>
                            </div>
                        {% endif %}
                        {# End of trend Block #}


                    </div>

                </div>

                {# ------------------------------------------------------------ #}
                <hr>

                <div class="gp-side-panel">
                    <div class="gp-side-panel-title">
                        Recently Asked Questions
                    </div>

                    <div class="gp-side-panel-content">
                        {% if question_list %}
                            {% for obj in question_list %}
                                {# ========Question loop============= #}
                                <div class="gp-ques-ans-panel-block" id="q{{ forloop.counter0 }}">
                                    <div class="gp-ques-block">
                                        <h2 class="gp-ques-title">{{ obj.question }}</h2>
                                        <p class="gp-ques-date">{{ obj.created }}</p>
                                        <p class="card-text-author">Asked by <a
                                                href="{% url 'user_profile' obj.author %}">{{ obj.author }}</a></p>

                                        <a href="{% url 'ques_detail' obj.id %}">view details</a>

                                    </div>

                                    {# ========Answer loop============= #}
                                    <div id="q{{ forloop.counter }}" class="gp-ques-ans">

                                        {% if obj.answers.all.exists %}
                                            <div class="gp-total-comments">
                                                <a onclick="toggleDiv(this, {{ forloop.counter }})"
                                                   class="gp-flat-link">
                                                    Total {{ obj.answers.all.count }} answer found!.
                                                </a>
                                            </div>
                                            <div id="{{ forloop.counter }}">
                                                {% for obj2 in obj.answers.all %}
                                                    <div class="gp-ques-ans-block">
                                                        <h4>
                                                            <a href="{% url 'user_profile' obj2.answered_by %}">{{ obj2.answered_by }}</a>
                                                        </h4>
                                                        <h3 class="gp-ques-ans-text">{{ obj2.text }}</h3>
                                                        <p class="gp-ques-ans-date">{{ obj2.created }}</p>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            <p class="gp-ques-ans-count">No answer found yet!</p>
                                        {% endif %}

                                    </div>
                                    {# ========Default Form ============= #}
                                    <form id="answer_form" data-id={{ obj.id }} method="POST"
                                          action="{% url 'save_answer' %}" role="form"
                                          class="gp-side-panel-form" hidden>
                                        {% csrf_token %}
                                        {% for hidden in a_form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        <div class="input-group">
                                            <input name="text" placeholder="Have you the answer?" class="form-control"
                                                   equired>
                                            <div class="input-group-btn">
                                                <button id="bt{{ forloop.counter }}" class="btn btn-default"
                                                        type="submit">
                                                    <i class="glyphicon glyphicon-send"></i>
                                                </button>
                                            </div>
                                        </div>

                                    </form>


                                    {# ========Form End ============= #}
                                </div>
                            {% endfor %}

                        {% else %}
                            <div class="container-fluid gp-div-post-summery gp-center">
                                <div class="gp-desc">
                                    No Questions asked Yet!
                                </div>
                            </div>
                        {% endif %}

                    </div>


                    <div class="gp-bottom-btn-panel">
                        <a class="btn btn-default btn-block" href="{% url 'forum' %}">VIEW ALL</a>
                    </div>

                </div>


            </div>

        </div>

    </div>



    {#    {% block js %}#}
    {#        {{ block.super }}#}
    {#        <script src="http://code.jquery.com/jquery-latest.js"></script>#}
    {#        #}
    {#        <script src={% static "el-pagination/js/el-pagination.js" %}></script>#}
    {#        <script src={% static "el-pagination/js/el-pagination.js" %}></script>#}
    {##}
    {#        <script>#}
    {#            $.endlessPaginate({#}
    {#                paginateOnScroll: true,#}
    {#                paginateOnScrollMargin: 20#}
    {#            });#}
    {#        </script>#}
    {#    {% endblock %}#}

{% endblock %}



{% block javascript_block %}

    <script type="text/javascript">


        $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
        var amountScrolled = 300;
        $(window).scroll(function () {
            if ($(window).scrollTop() > amountScrolled) {
                $('a.back-to-top').fadeIn('slow');
            } else {
                $('a.back-to-top').fadeOut('slow');
            }
        });
        $('a.back-to-top').click(function () {
            $('html, body').animate({
                scrollTop: 0
            }, 700);
            return false;
        });


        function toggleDiv(element, divId) {
            $("#" + divId).slideToggle();
            {#            $(element).slideUp();#}
        }

        function del_comment(divId, CommentId) {
            $.ajax({
                url: '{% url 'comment_delete' %}',
                type: 'POST',
                data: {
                    comment_id: CommentId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function () {
                    // alert("Created a New Comment");
                    $("#" + divId).load(" #" + divId);
                }
            });

        }


        function commentDiv(formId) {

            $("#add_comment" + formId).on('submit', function (event) {

                event.preventDefault();
                var element = $(this);
                element.off('submit');
                var _id = element.attr("data-id");
                $.ajax({
                    url: '{% url 'add_comment' %}',
                    type: 'POST',
                    data: {
                        text: $('#text' + formId).val(),
                        story_id: _id,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function () {
                        // alert("Created a New Comment");
                        $("#" + formId).load(" #" + formId);
                    }
                });
            });
        }


        $('a.gp-like-button').on('click', function (event) {
            event.preventDefault();
            var element = $(this);
            var _id = element.attr("data-id");
            var likeBtn = '#gp-like-logo-' + _id;
            var totalLikeTxt = '#gp-total-like-' + _id;

            var data = {
                obj_id: _id
            };

            $.get('{% url 'like' %}', data, function (response) {

                console.log(response);

                if (response.isLiked == true) {
                    $(likeBtn).removeClass("glyphicon-heart-empty");
                    $(likeBtn).addClass("glyphicon-heart");

                } else {
                    $(likeBtn).removeClass("glyphicon-heart");
                    $(likeBtn).addClass("glyphicon-heart-empty");
                }
                $(totalLikeTxt).html(response.totalLikes);
            });
        });


    </script>

{% endblock %}


