{% extends 'app1/base.html' %}

{% block body_block %}
    <div class="jumbotron gp-jumbotron">
        {% if notifications %}
            <h1>Hay {{ user }}! You have {{ unread_count }} new notifications!</h1>
        {% else %}
            <h1>Hay {{ user }}! You have no new notification!</h1>
        {% endif %}
    </div>

    <div class="container-fluid gp-container-normal">

        {% if notifications %}

            <div class="list-group ts-notify-list-group">

                {% for item in notifications %}

                    {% if item.notify_from == 'story_like' %}

                        <a href="{% url 'story_detail' item.ref_value %}" class="list-group-item {% if item.id in unread_list %}ts-notify-unread{% endif %}">
                        <p class="ts-notify-title"><strong>{{ item.sender }}</strong> gives a like to your story.</p>

                    {% elif item.notify_from == 'story_cmnt' %}

                        <a href="{% url 'story_detail' item.get_story_id %}" class="list-group-item {% if item.id in unread_list %}ts-notify-unread{% endif %}">
                        <p class="ts-notify-title"><strong>{{ item.sender }}</strong> gives a comment to your story.</p>

                    {% elif item.notify_from == 'q_a' %}

                        <a href="{% url 'ques_detail' item.get_question_id %}"
                           class="list-group-item {% if item.id in unread_list %}ts-notify-unread{% endif %}">
                        <p class="ts-notify-title"><strong>{{ item.sender }}</strong> gives an answer to your question.</p>


                    {% elif item.notify_from == 'story_share' %}

                        <a href="{% url 'story_detail' item.ref_value %}"
                           class="list-group-item {% if item.id in unread_list %}ts-notify-unread{% endif %}">
                        <p class="ts-notify-title"><strong>{{ item.sender }}</strong> suggested a tour story.</p>

                    {% endif %}

                <p class="ts-notify-date">{{ item.date_created }}</p>

                </a>


                {% endfor %}

            </div>

        {% endif %}

    </div>

{% endblock %}