{% extends 'app1/base.html' %}
{##}
{#changed#}

{% block body_block %}
    <div class="jumbotron gp-jumbotron">
        <h1>{{ user.username }}</h1>
    </div>

    <div class="container-fluid gp-container-normal">

           <div id="user_information ">
               this is where we shall show a general information page like facebook with hovering pic and all

               baki nicher tab gulare ekpashe side navigation bar er moto kore dis
               <h1 class="alert-info"> Display_name =  {{ the_user.userprofile.display_name }}</h1>
               <h1 class="alert-info"> Birthdate =     {{ the_user.userprofile.birth_date }}</h1>
               <h1 class="alert-info"> Gender =  {{ the_user.userprofile.gender }}</h1>
               <h1 class="alert-info"> Country =  {{ the_user.userprofile.country }}</h1>


               {% if the_user.userprofile.image %}
                    <img height="300" width="400" src="{{ the_user.userprofile.image.url }}">
                {% endif %}

                 <a href="{% url 'update_userprofile' user.id %}" class="btn btn-primary">Edit Your Profile </a>

        </div>

        <ul class="nav nav-tabs gp-narrow-width gp-nav-tabs">
            <li class="active"><a data-toggle="tab" href="#user">Account Information</a></li>
            <li><a data-toggle="tab" href="#tour">Tour Information</a></li>

        </ul>



        <div class="tab-content gp-narrow-width gp-tab-content ">
            <div id="user" class="tab-pane fade in active gp-tab-pane">
                <form method="post" action=".">

                    {% csrf_token %}

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input id="username" type="text" class="form-control" name="username" placeholder="Username"
                               value="{{ the_user.username }}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input id="email" type="text" class="form-control" name="email" placeholder="Email"
                               value="{{ the_user.email }}" disabled>
                    </div>

                    <div class="form-group">
                        <label for="display_name">Display Name</label>
                        <input id="display_name" type="text" class="form-control gp-editable" name="display_name"
                               placeholder="Display Name"
                               value="{{ user_info.display_name }}"
                               disabled required>
                    </div>


                    {% if the_user == request.user %}
                        <div class="gp-button-panel">
                            <input style="display: none;" class="btn btn-success" type="submit" value="Save Profile">
                            <a href="#" id="gp-btn-change" class="btn btn-default">Change Profile</a>
                            <a class="btn btn-danger" href="{% url 'auth_password_change' %}">Change Password</a>
                        </div>
                    {% endif %}

                </form>
            </div>

            <div id="tour" class="tab-pane fade gp-tab-pane">

                {% if the_user == request.user %}
                    <div class="gp-button-panel gp-center gp-border-bottom">
                        <a href="{% url 'story_share' %}" class="btn btn-primary">
                            Share a New Tour Story
                        </a>
                    </div>
                {% endif %}

                <div class="list-group gp-list-group-tour">
                    {% if tour_list.count > 0 %}
                        {% for obj in tour_list %}

                            <div class="gp-profile-story-list-item">
                    <span class="gp-text-title"><a
                            href="{% url 'story_detail' obj.id %}">{{ obj.title_name }}</a></span>
                                <span class="gp-text-date">{{ obj.created_date }}</span>
                                {% if  the_user == request.user %}
                                    <div class="gp-margin-top-10">
                                        <a href="{% url 'story_delete' obj.id %}" class="btn btn-danger"><span
                                                class="glyphicon glyphicon-remove-sign"></span>
                                            Delete</a>
                                        <a href="{% url 'image_share' obj.id %}" class="btn btn-default"><span
                                                class="glyphicon glyphicon-picture"></span> Image</a>
                                        <a class="btn btn-default" href="{% url 'story_edit' obj.id %}"><span
                                                class="glyphicon glyphicon-pencil"></span></a>
                                    </div>
                                {% endif %}
                            </div>

                        {% endfor %}
                    {% else %}
                        <div class="gp-profile-story-list-item">
                            <div class="gp-center">
                                You have no story shared!
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>


    </div>


    <script>
        $(function () {
            $("a#gp-btn-change").click(function (element) {
                element.preventDefault();

                if ($(".gp-editable").is(":disabled")) {

                    $(".gp-editable").prop("disabled", false);
                    $("input[type=submit]").slideDown();
                    $(this).text("Cancel");

                } else {

                    $(".gp-editable").prop("disabled", true);
                    $("input[type=submit]").slideUp();
                    $(this).text("Change Profile");
                }

            });
        });
    </script>

{% endblock %}

<!-- creating custom change list -->