{% extends 'app1/base.html' %}

{% block body_block %}

    <div class="jumbotron gp-jumbotron">
        <h1>BDTM Community!</h1>
    </div>
    {% if ques %}
        <div class="container-fluid gp-container-normal">

            <div class="container gp-div-post-full">
                <div class="gp-side-panel" id="ques_ans">
                    <div class="gp-ques-ans-panel-block" id="q{{ forloop.counter0 }}">
                        <div class="gp-ques-block">
                            {% if  ques.author.userprofile.image %}
                                <img src="{{ ques.author.userprofile.image.url }}" alt="{{ ques.author }}"
                                     width="50"
                                     height="50">
                            {% else %}
                                <img src="/media/default-placeholder.png" class="img-circle"
                                     alt="{{ ques.author }}"
                                     width="50" height="50">
                            {% endif %}
                            <div id="ques_section">
                                <h2 class="gp-ques-title">{{ ques.question }}</h2>
                                <p class="gp-ques-date">{{ ques.created }}</p>
                            </div>
                            <div id="edit_ques_form" style="display: none">
                                form id {{ ques.id }}
                                <form id="edit_ques">
                                    {% csrf_token %}
                                    <input type="text" class="form-control" name="edit_ques"
                                           id="new_ques"
                                           oninput="question_edit()"
                                           value="{{ ques.question }}">
                                </form>
                            </div>
                            <p class="card-text-author">Asked by <a
                                    href="{% url 'user_profile' ques.author %}">{{ ques.author }}</a></p>
                        {% if user == ques.author_id  %}
                            <form action="{% url 'ques_delete' ques.id %}">
                                <button id="delete" onclick="del_ques({{ ques.id }})" class="btn btn-danger">Delete
                                </button>
                                <button id="edit" type="button" onclick="edit_ques({{ ques.id }})" class="btn btn-info">
                                    Edit
                                </button>
                            </form>
                        {% endif %}
                        </div>


                        <div class="gp-ques-ans">
                            {% if ques.answers.all.exists %}
                                <div class="gp-total-comments">
                                    <a onclick="toggleDiv(1)" class="gp-flat-link">
                                        Total {{ ques.answers.all.count }} answer found!
                                    </a>
                                </div>


                                <div>
                                    {% for obj2 in ques.answers.all %}
                                        <div class="gp-ques-ans-block">
                                            {% if  obj2.answered_by.userprofile.image %}
                                                <img src="{{ obj2.answered_by.userprofile.image.url }}"
                                                     alt="{{ obj2.answered_by }}"
                                                     width="50"
                                                     height="50">
                                            {% else %}
                                                <img src="/media/default-placeholder.png" class="img-circle"
                                                     alt="{{ obj2.answered_by }}"
                                                     width="50" height="50">
                                            {% endif %}
                                            <h4>
                                                <a href="{% url 'user_profile' obj2.answered_by %}">{{ obj2.answered_by }}</a>
                                            </h4>
                                            <div id="comment_section{{ obj2.id }}">
                                                <h3 class="gp-ques-ans-text">{{ obj2.text }}</h3>
                                                <p class="gp-ques-ans-date">{{ obj2.created }}</p>
                                            </div>
                                            <div id="edit_form{{ obj2.id }}" style="display: none">
                                                form id {{ obj2.id }}
                                                <form id="edit_answer{{ obj2.id }}">
                                                    {% csrf_token %}
                                                    <input type="text" class="form-control" name="edit"
                                                           id="new_ans{{ obj2.id }}"

                                                           value="{{ obj2.text }}">
                                                </form>
                                            </div>

                                            {% if user == ques.author_id or obj2.answered_by_id == user %}
                                                <div class="bg-margin-top-10">
                                                    <button type="button" class="btn btn-danger"
                                                            id="delete{{ obj2.id }}"
                                                            onclick="del_answer({{ obj2.id }})">
                                                        Delete
                                                    </button>
                                                    {% if obj2.answered_by_id == user %}
                                                        <button class="btn btn-info" id="edit{{ obj2.id }}"
                                                                onclick="edit_answer({{ obj2.id }}, {{ obj2.id }})">
                                                            Edit
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p class="gp-ques-ans-count">No answer found yet!</p>
                            {% endif %}
                            <form id="add_answer" data-id={{ ques.id }} method="POST" class="gp-form-story-comment">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input class="form-control" type="text" id="text"
                                           maxlength="1000" name="text" required>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" onclick="answerDiv()" type="submit">
                                            <i class="glyphicon glyphicon-send"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                {% else %}
                <div class="jumbotron gp-jumbotron">
                    <h1>Sorry no story found!</h1>
                </div>
            </div>
        </div>

    {% endif %}
    <script>

        function toggleDiv(divId) {
            $("#" + divId).slideToggle();
        }


        function del_answer(answerID) {

            // alert(ques_ans)
            //alert(answerID)
            $.ajax({
                url: '{% url 'answer_delete' %}',
                type: 'POST',
                data: {
                    answer_id: answerID,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function () {
                    // alert("Created a New Comment");
                    $("#" + "ques_ans").load(" #" + "ques_ans");
                    //alert("deleted")
                }
            });

        }

        {##}
        {#        function add_answer() {#}
        {#            var element = $(this);#}
        {#            var _id = element.attr("data-id");#}
        {#            $.ajax({#}
        {#                url: {% url 'save_answer' %},#}
        {#                type: 'POST',#}
        {#                data: {#}
        {#                    ques_id: _id,#}
        {#                    csrfmiddlewaretoken: '{{ csrf_token }}'#}
        {#                },#}
        {#                success: function () {#}
        {#                    // alert("Created a New Comment");#}
        {#                    $("#" + "ques_ans").load(" #" + "ques_ans");#}
        {#                    //alert("deleted")#}
        {#                }#}
        {#            });#}
        {##}
        {#        }#}
        function answerDiv() {

            $("#add_answer").on('submit', function (event) {

                event.preventDefault();
                var element = $(this);
                element.off('submit');
                var _id = element.attr("data-id");
                // alert("kk" + _id);
                $.ajax({
                    url: {% url 'save_answer' %},
                    type: 'POST',
                    data: {
                        text: $('#text').val(),
                        ques_id: _id,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function () {
                        //alert("kk");
                        //alert("Created a New Comment");
                        $("#" + "ques_ans").load(" #" + "ques_ans");
                        //$("#1").load(" #1");
                        //$('#text').val("");
                    }
                });
            });
        }

        function edit_answer(formid, ans_id) {
            ///alert(ans_id);

            // ----------


            $("#comment_section" + formid).hide();

            $("#edit_form" + formid).show();

            $("#delete" + formid).hide();
            $("#edit" + formid).hide();


            $("#edit_form" + formid).on('submit', function (event) {
                event.preventDefault();
                var element = $(this);
                element.off('submit');
                var text = $("#new_ans" + formid).val();
                //alert(text);
                $.ajax({
                    url: '{% url 'answer_edit' %}',
                    type: 'POST',
                    data: {
                        ans_id: ans_id,
                        new_ans: text,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function () {
                        $("#" + "ques_ans").load(" #" + "ques_ans");
                    }
                });

            });
        }


        function edit_ques(ques_id) {
            ///alert(ans_id);

            // ----------


            $("#ques_section").hide();

            $("#edit_ques_form").show();

            $("#delete").hide();
            $("#edit").hide();


            $("#edit_ques_form").on('submit', function (event) {
                event.preventDefault();
                var element = $(this);
                element.off('submit');
                var text = $("#new_ques").val();
                // alert(text);
                $.ajax({
                    url: '{% url 'edit_question' %}',
                    type: 'POST',
                    data: {
                        ques_id: ques_id,
                        new_ques: text,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function () {
                        $("#" + "ques_ans").load(" #" + "ques_ans");
                    }
                });

            });
        }


    </script>
{% endblock %}

<!-- creating custom change list -->