{% extends 'app1/base.html' %}

{% block body_block %}
    {% if obj.id not in report_list %}
        {% if obj %}
            <div id="story_id_{{ obj.id }}">
            <div id="follow{{ forloop.counter }}">

                {% load app1_extras %}

                {% if not obj.user == request.user %}
                    {% pass_follower_list request.user obj.user.id forloop.counter %}
                    <button type="button" class="btn btn-danger"
                            onclick="ownreport({{ obj.id }},{{ obj.id }})">
                        Report
                    </button>
                {% endif %}

            </div>
            <div class="container-fluid gp-container-normal">

                <div class="container gp-div-post-full">

                    {% if obj.stories.all.exists %}

                        <div class="gp-slide-show">
                            <div class="gp-slide-shadow"></div>

                            <div id="myCarousel{{ forloop.counter }}" class="carousel slide gp-carousel"
                                 data-ride="carousel">
                                <!-- Wrapper for slides -->

                                <div class="carousel-inner" role="listbox">

                                    {% for obj2 in  obj.stories.all %}
                                        <div class="item {% if forloop.first %}active{% endif %}">
                                            <img class="card-img-top gp-card-img" src="{{ obj2.file.url }}"
                                                 alt="IMAGE GOES HERE">
                                        </div>
                                    {% endfor %}

                                </div>
                                <!-- Left and right controls -->
                                <a class="left carousel-control" id="gp-carousel-control"
                                   href="#myCarousel{{ forloop.counter }}"
                                   role="button"
                                   data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" id="gp-carousel-control"
                                   href="#myCarousel{{ forloop.counter }}"
                                   role="button"
                                   data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    {% endif %}

                    <div class="gp-desc">
                        <h4 class="card-title">{{ obj.title_name }}</h4>
                        <p class="card-text-date">{{ obj.created_date }}</p>
                        <p class="card-text-author">Tour by <a
                                href="{% url 'user_profile' obj.user %}">{{ obj.user }}</a> with
                            <strong>{{ obj.member }}</strong> members.</p>
                        <p class="card-budget"><strong>Budget:</strong> {{ obj.budget }}</p>
                        <p class="card-type"><strong>Type:</strong> {{ obj.type_name }}</p>
                        <p class="card-text">
                            {{ obj.des|linebreaks|safe }}
                        </p>
                    </div>
                    <div class="gp-util-bar">
                        <div class="gp-div-half">
                            <a id="likes" data-id="{{ obj.id }}" class="gp-like-button">
                            <span id="gp-like-logo-{{ obj.id }}"
                                  class="glyphicon {% if obj.id in like_list %}glyphicon glyphicon-heart {% else %} glyphicon-heart-empty {% endif %}"></span>
                                <span id="gp-total-like-{{ obj.id }}">{{ obj.total_likes }}</span>
                            </a>
                        </div>
                        <div class="gp-div-half">
                            <a class="gp-share"><span class="glyphicon glyphicon-share-alt"></span> Share</a>
                        </div>

                    </div>

                    <!-- Comment part start -->

                    <div class="gp-comment-group">
                        <div class="gp-total-comments">
                            <a onclick="toggleDiv(1)" class="gp-flat-link">
                                Total {{ obj.comments.count }} comments.
                            </a>
                        </div>


                        <div id={{ 1 }}>
                            {% for comment in obj.comments.all %}
                                <div class="gp-comment" id="comments">

                                    <p class="gp-username"><a
                                            href="{% url 'user_profile' comment.author.username %}">{{ comment.author.username }}</a>
                                    </p>
                                    <p class="gp-date">{{ comment.created_date }}</p>
                                    <p id="comment{{ comment.id }}" class="gp-content">{{ comment.text }}</p>
                                    {% if comment.id in comment_list %}
                                        <div class="bg-margin-top-10">
                                            <div id="comment_buttons{{ comment.id }}">
                                                <a class="btn btn-danger" id="delete_story_comment"
                                                   data-toggle="confirmation"
                                                   data-id1="{{ 1 }}"
                                                   data-id2="{{ comment.id }}">
                                                    Delete
                                                </a>
                                                <button class="btn btn-info"
                                                        onclick="edit_comment({{ 1 }}, {{ comment.id }})">Edit
                                                </button>
                                            </div>
                                        </div>

                                        <div id="comment_edit_form_div{{ comment.id }}" style="display: none">
                                            <form id="comment_edit_form{{ comment.id }}">
                                                <input type="text" name="comment_edit"
                                                       id="comment_edit_text{{ comment.id }}"
                                                       value="{{ comment.text }}" class="form-control">
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <!-- Comment part end -->


                            <!-- Adding a comment part start -->

                            <form id="add_comment" data-id={{ obj.id }} method="POST" class="gp-form-story-comment">
                                {% csrf_token %}

                                <div class="input-group">
                                    <input class="form-control text" maxlength="1000" type="text" name="text" required>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" onclick="commentDiv()" type="submit">
                                            <i class="glyphicon glyphicon-send"></i>
                                        </button>
                                    </div>
                                </div>

                            </form>

                            <!-- Adding-Comment part end -->

                        </div>

                    </div>
                </div>

            </div>


        {% else %}
            <div class="jumbotron gp-jumbotron">
                <h1>Sorry no story found!</h1>
            </div>
        {% endif %}
    {% else %}
        <h1>EROR 404</h1>
    {% endif %}

    <script>
        function ownreport(story_id, divid) {

            // alert(ques_ans)
            alert("Reported! you will not see this again :)")
            $("#story_id_" + divid).hide();
            setTimeout(function () {
                window.location = '{% url 'index' %}';
            }, 2000);
            //alert(story_id);
            $.ajax({
                url: '{% url 'own_report' %}',
                type: 'POST',
                data: {
                    story_id: story_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function () {
                    //alert("Created a New Comment");
                    //load('index.html');
                }
            });

        }
        function toggleDiv(divId) {
            $("#" + divId).slideToggle();
        }


        function del_comment(divId, CommentId) {
            $.ajax({
                url: '{% url 'comment_delete' %}',
                type: 'POST',
                data: {
                    comment_id: CommentId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function () {
                    // alert("Created a New Comment");
                    $("#" + divId).load(" #" + divId);
                }
            });

        }

        function commentDiv() {

            $("#add_comment").on('submit', function (event) {
                event.preventDefault();
                var element = $(this);
                element.off('submit');
                var _id = element.attr("data-id");
                $.ajax({
                    url: '{% url 'add_comment' %}',
                    type: 'POST',
                    data: {
                        text: $('.text').val(),
                        story_id: _id,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function () {
                        // alert("Created a New Comment");
                        $("#1").load(" #1");
                        $('.text').val("");

                    }
                });


            });
        }


        $('a.gp-like-button').on('click', function (event) {
            event.preventDefault();

            var element = $(this);

            var _id = element.attr("data-id");

            var likeBtn = '#gp-like-logo-' + _id;
            var totalLikeTxt = '#gp-total-like-' + _id;

            $.ajax({
                url: '{% url 'like' %}',
                type: 'GET',
                data: {obj_id: _id},
                dataType: "json",
                success: function (response) {

                    if (response.isLiked == true) {
                        $(likeBtn).removeClass("glyphicon-heart-empty");
                        $(likeBtn).addClass("glyphicon-heart");

                    } else {
                        $(likeBtn).removeClass("glyphicon-heart");
                        $(likeBtn).addClass("glyphicon-heart-empty");
                    }
                    $(totalLikeTxt).html(response.totalLikes);
                }
            });
        });


        function edit_comment(divID, comment_id) {
            $("#comment_buttons" + comment_id).hide();
            $("#comment_edit_form_div" + comment_id).show();
            $("#comment" + comment_id).hide();
            $("#comment_edit_form" + comment_id).on('submit', function (event) {
                event.preventDefault();
                var element = $(this);
                element.off('submit');
                var text = $("#comment_edit_text" + comment_id).val();
                //alert(text);
                $.ajax({
                    url: '{% url 'comment_edit' %}',
                    type: 'POST',
                    data: {
                        comment_id: comment_id,
                        new_comment: text,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function () {
                        //alert("yoo yoo wassup?");
                        // $("#" + comments).load("#" + "comments");
                        $("#comment_edit_form_div" + comment_id).hide();
                        $("#comment" + comment_id).show();
                        $("#comment_buttons" + comment_id).show();
                        $("#comment" + comment_id).text($("#comment_edit_text" + comment_id).val());

                    }
                });
            });
        }

        $('[data-toggle=confirmation]').confirmation({
            rootSelector: '[data-toggle=confirmation]'
            // other options
        });

        $("body").on("click", "#delete_story_comment", function () {
            var divID = $(this).attr('data-id1');
            var comment_id = $(this).attr('data-id2');
            del_comment(divID, comment_id);
        });

    </script>



{% endblock %}

<!-- creating custom change list -->
