{% extends 'app1/base.html' %}

{% block body_block %}

    <a href="{% url 'story_share' division page %}" class="btn btn-primary btn-block">Share Your Tour Story</a>
    {% if stories %}

        <h1 class="gp-page-title">Total {{ stories.count }} stories shared about {{ page }}!</h1>

        {% for obj in stories %}

            <div class="container gp-div-post-full">
                <div class="gp-slide-show">
                    {% if obj.stories.all.exists %}
                        <div id="myCarousel{{ forloop.counter }}" class="carousel slide gp-carousel"
                             data-ride="carousel">
                            <!-- Wrapper for slides -->

                            <div class="carousel-inner" role="listbox">

                                {% for obj2 in  obj.stories.all %}
                                    <div class="item {% if forloop.first %}active{% endif %}">
                                        <img class="card-img-top gp-card-img" src="{{ obj2.file.url }}"
                                             alt="IMAGE GOES HERE">
                                    </div>
                                {% endfor %}

                            </div>
                            <!-- Left and right controls -->
                            <a class="left carousel-control" id="gp-carousel-control"
                               href="#myCarousel{{ forloop.counter }}"
                               role="button"
                               data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" id="gp-carousel-control"
                               href="#myCarousel{{ forloop.counter }}"
                               role="button"
                               data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    {% else %}
                        <p class="gp-post-no-image-text">No images shared by <strong>{{ obj.user }}</strong></p>
                    {% endif %}
                </div>

                <div class="gp-desc">
                    <h4 class="card-title">{{ obj.title_name }}</h4>
                    <p class="card-text-author">Shared by <strong><a
                            href="{% url 'user_profile' obj.user %}">{{ obj.user }}</a></strong></p>
                    <p class="card-text-member"><strong>Number of Member: </strong> {{ obj.member }}</p>

                    <button type="button" id="likes" data-id="{{ obj.id }}"
                            class="btn btn-mini glyphicon {% if obj.id in like_list %}glyphicon glyphicon-heart {% else %} glyphicon-heart-empty {% endif %}btn-danger"
                            value="Like">

                        {% if obj.total_likes > 0 %}{{ obj.total_likes }} {% endif %}

                    </button>
                    People Liked this.<br>
                    <strong> Comments:</strong> {{ obj.comments.count }} comments Found.
                    <p class="card-text">{{ obj.des }}</p>
                </div>

                <hr>
                <!-- Comment part start -->

                <a class="btn btn-default" href="{% url 'add_comment_to_story' division page obj.id %}">Add comment</a>

                {% for comment in obj.comments.all %}
                    <div class="comment">
                        <div class="date">{{ comment.created_date }}</div>
                        <strong>{{ comment.author.username }}</strong>
                        <p>{{ comment.text|linebreaks }}</p>
                    </div>
                {% empty %}
                    <p>No comments here yet :( </p>
                {% endfor %}

               <!-- Comment part end -->

            </div>
        {% endfor %}

        <a href="{% url 'story_share' division page %}" class="btn btn-primary btn-block">Share Your Tour Story</a>

    {% else %}
        <h3>Sorry no stories Shared yet!</h3>
    {% endif %}

    <script>
        $('button').on('click', function (event) {
            event.preventDefault();
            var element = $(this);
            $.ajax({
                url: '/app1/like',
                type: 'GET',
                data: {obj_id: element.attr("data-id")},
                dataType: "json",
                success: function (response) {
                    // element.removeClass('btn btn-mini btn-danger glyphicon glyphicon-heart-empty').addClass('btn btn-mini btn-danger glyphicon glyphicon-heart');
                    if (response.isLiked == true) {
                        element.removeClass("glyphicon-heart-empty");
                        element.addClass("glyphicon-heart");

                    } else {
                        element.removeClass("glyphicon-heart");
                        element.addClass("glyphicon-heart-empty");
                    }
                    element.html(' ' + response.totalLikes);
                }
            });
        });
    </script>



{% endblock %}



