{% load app1_extras %}

{#{% if follower_list %}#}
{#    <h2>{{ follower_list }}</h2>#}
{#{% else %}#}
{#    <h3>No follow list</h3>#}
{#{% endif %}#}


<button onclick="change({{ div_id }})" data-id="follow{{ obj_id }}" data-action={{ obj_id }} id="text{{ div_id }}"
        {% if obj_id in follower_list %}class="btn btn-danger btn-xs">Unfollow{% else %}class="btn btn-default btn-xs">Follow{% endif %}</button>


{#    <button onclick="change({{ div_id }})" data-action={{ obj_id }} id="text{{ div_id }}"#}
{#            class="btn btn-primary">Follow#}
{#    </button>#}

<script type="text/javascript">

    function change(Id) {


        console.log("Function is Running ");
        var propty = $('#text' + Id);
        var action_id = propty.data("action");


        console.log($('button[data-id="follow' + action_id + '"]'));

        var text = propty.text();
        console.log(text)
        console.log(action_id)
        //alert(action_id)
        $.ajax({
            url: '{% url 'follow_unfollow' %}',
            type: 'POST',
            data: {
                button_text: text,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action_id: action_id
            },
            success: function (resp) {
                console.log("success " + resp.result)
                //$("#follow" + Id).load(" #follow" + Id);

                var change_element = $('button[data-id="follow' + action_id + '"]');

                if (resp.result == "Added") {
                    change_element.removeClass("btn-default");
                    change_element.addClass("btn-danger");
                    change_element.text("Unfollow");

                } else if (resp.result == "Deleted") {
                    change_element.removeClass("btn-danger");
                    change_element.addClass("btn-default");
                    change_element.text("Follow");
                }
            },
            error: function (resp) {
                console.log("Not a Success " + resp.result)
            }
        });
    }


</script>
