/*
http://getbootstrap.com/customize/?id=f391bc59dda7003f34c12024b8b959bc
 */

/**
Common
 */
a {
    transition: all .2s ease-in-out;
}

img {

    background-image: url("/media/default-placeholder.png");
    background-size: cover;
}

/**
 * All about body
 */

body.gp-body {
    background: #f5f5f5;
}

.gp-container-main {
    margin-top: 50px;
    /*padding: 10px 0;*/
}

.gp-container-normal {
    padding: 20px 0 20px 0;
}

.gp-margin-top-10 {
    margin-top: 10px;
}

/**
 * All about nav bar
 */

nav.gp-navbar {
    /*background-color: #095855;*/
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .2);
}

.gp-navbar .nav {
    /*float: none;*/
    /*text-align: center;*/
}

.gp-navbar .nav li {
    float: none;
    display: inline-block;
}

nav.gp-navbar .dropdown-menu li {
    float: none;
    display: list-item;
}

nav.gp-navbar .gp-navbar-nav > li > a {
    /*color: #fff;*/
    font-weight: bold;
    text-transform: capitalize;
}

.ts-nav-pro-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

/**
Notification badge
 */
.label.ts-label-notify {
    background-color: rgba(0, 0, 0, .25);
    font-size: 100%;
}

.ts-notify-list-group .ts-notify-title {
    font-size: 16px;
}

.ts-notify-list-group .ts-notify-date {
    color: #888;
    margin-bottom: 0;
}

.ts-notify-list-group .ts-notify-unread {
    background-color: #fff9c4;
}

.ts-notify-list-group .ts-notify-unread:hover {
    background-color: #fff59d;
}

/**
Index Page
 */

.gp-side-panel-container {
    margin-top: 10px;
}

.gp-side-panel {
    background: #009688;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    /*border-bottom: 16px solid #009688;*/
    border-left: 2px solid #009688;
    border-right: 2px solid #009688;
    overflow: auto;
}

.gp-side-panel .gp-carousel .item .gp-card-img {
    height: 150px;
}

.gp-side-panel div.gp-div-post-summery {
    border-top: none;
    border-radius: 0;
    box-shadow: none;
}

.gp-side-panel div.gp-div-post-summery:first-child {
    margin-top: 0;
}

.gp-side-panel .gp-desc .card-text {
    font-size: 15px;
    margin: 0;
}

.gp-side-panel .gp-slide-shadow {
    text-align: center;
    height: auto;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
}

.gp-side-panel .gp-slide-shadow h4 {
    margin-top: 15px;
    margin-bottom: 2px;
}

.gp-side-panel .gp-slide-shadow h4 a {
    color: #fff;
}

.gp-side-panel .gp-slide-shadow p {
    margin: 0 0 5px;
    color: #fff;
}

.gp-side-panel .gp-bottom-btn-panel {
    background: transparent;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 20px;
}

.gp-side-panel .gp-bottom-btn-panel .btn {
    border-radius: 50px;
}

.gp-side-panel .gp-bottom-radius {
    border-radius: 0 0 5px 5px;
}

.gp-side-panel-form {
    padding: 0 10px 15px;
}

.gp-side-panel-content {
    padding: 0 0 20px;
}

.gp-side-panel-title {
    background-color: #009688;
    color: #fff;
    text-align: center;
    border-radius: 6px 6px 0 0;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 5px;
}

.gp-ques-ans-panel-block {
    padding: 0;
    background: #fff;
    margin: 0 0 10px;
}

.gp-ques-ans-panel-block:first-child {
    border-radius: 5px 5px 0 0;
}

.gp-ques-ans-panel-block:last-child {
    border-radius: 0 0 5px 5px;
}

.gp-ques-block {
    padding: 10px 10px;
}

.gp-ques-title {
    font-size: 18px;
    margin: 0;
}

.gp-ques-date {
    font-size: 12px;
    margin: 0;
}

.gp-ques-ans {
    padding: 5px 0;
    border-top: 2px solid #ddd;
    margin: 5px 0;
}

.gp-ques-ans-count {
    font-size: 14px;
    margin: 0;
    padding: 0 10px 5px;
    text-align: center;
}

.gp-ques-ans-block {
    padding: 10px 10px;
    background: #f5f5f5;
    margin: 0 0 5px;
}

.gp-ques-ans-text {
    margin: 0;
    font-size: 16px;
}

.gp-ques-ans-date {
    margin: 0;
    font-size: 12px;
}

/******************/
.gp-side-panel-list {
    list-style: none;
    background: #fff;
    margin: 0;
    padding: 5px 0;
    font-size: 18px;
}

.gp-side-panel-list a {
    padding: 3px 5px;
    text-align: center;
    display: block;
}

.gp-side-panel-list a:hover {
    text-decoration: none;
    background: #eee;
    color: #00695C;
}

/**
Search
 */
.gp-list-search-result {
    padding: 0;
}

.gp-list-search-result a:hover {
    text-decoration: none;
}

.gp-list-search-result a:hover li {
    background: #eee;
    border-radius: 10px;
}

.gp-list-search-result li {
    font-size: 20px;
    list-style: none;
    margin: 5px 0;
    border-radius: 5px;
    padding: 10px 15px;
    transition: all .2s ease-in-out;
}

.gp-list-search-result .gp-title {
    margin: 0 0 5px;
    font-weight: bold;
}

.gp-list-search-result .gp-desc {
    text-align: left;
    font-size: 16px;
    color: #888;
    padding: 0;
}

/**
 * Common type style
 */

.gp-center {
    text-align: center;
}

.gp-border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

html, body, p, a, li, div {
    /*font-size: 16px;*/
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
}

/**
 * Common page style
 */

.gp-page-title, .gp-page-title a {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.gp-text-center {
    text-align: center;
}

.gp-text-normal-bigger {
    font-size: 18px;
}

/**
 * All about post/story/trip
 */

div.gp-div-post-summery, div.gp-div-post-full {
    padding: 0;
    margin: 10px auto;
    overflow: auto;
    border-top: 5px solid #009688;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
}

.gp-slide-show {
    position: relative;

    /*background-repeat: repeat-x;*/
}

.gp-slide-shadow:before {
    content: '';
}

.gp-slide-shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.0001) 100%);
    z-index: 1;
}

.gp-slide-show .gp-post-no-image-text {
    margin: 10px 5px;
    font-size: 16px;
    text-align: center;
}

.gp-desc {
    margin: 0;
    padding: 5px 10px 10px;
    text-align: center;
    overflow: auto;
    /*border-bottom: 2px solid #ddd;*/
}

.gp-div-post-full .gp-desc {
    text-align: left;
}

.gp-desc .card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
}

.gp-desc .card-text, .gp-desc .card-text-member {
    font-size: 18px;
    margin: 5px 0;
}

.gp-desc .card-text-author a {
    font-weight: bold;
    font-size: 15px;
}

.gp-desc .card-text-author {
    font-size: 15px;
    margin: 5px 0;
    color: #555;
}

.card-text-date {
    font-size: 12px;
    margin: 0;
    color: #777;
}

.card-budget {
    margin: 0;
}

.card-type {
    margin: 0;
}

.gp-desc .card-text-member {
    font-size: 14px;
}

.gp-carousel .item {
    text-align: center;
    background: url(png/grid.png);
}

.gp-carousel .item .gp-card-img {
    height: 300px;
    margin: 0 auto;
}

.gp-flat-link {
    cursor: pointer;
    display: block;
}

.gp-form-story-comment {
    padding: 10px;
}

/*#gp-carousel-control.left {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .5) 100%);
}

#gp-carousel-control.right {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, .5) 100%);
}*/

/*
Utility bar
 */
.gp-util-bar {
    overflow: auto;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.gp-util-bar a {
    cursor: pointer;
    padding: 5px;
    display: block;
}

.gp-util-bar a:hover {
    text-decoration: none;
}

/**
Like button
 */
.gp-like-button {
    padding: 5px;
}

.gp-div-half {
    width: 50%;
    float: left;
    text-align: center;

}

/**
Comments
 */
.gp-comment-group .gp-username {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.gp-comment-group .gp-date {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
}

.gp-comment-group .gp-content {
    font-size: 16px;
    margin: 0;
}

.gp-total-comments {
    padding: 5px;
    text-align: center;
    font-size: 14px;
    color: #777;
}

.gp-comment {
    padding: 10px;
    margin: 0 0 5px;
    background-color: #f5f5f5;
}

/**
 * Forms
 */

.gp-form {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #f5f5f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 15px;
}

.gp-img-preview {
    margin: 10px auto;
    overflow: auto;
    max-width: 600px;
    text-align: center;
    background: url(png/grid.png);
    border-radius: 3px;
}

.gp-img-preview img {
    max-width: 600px;
    margin: 0 auto 5px;
    display: block;
}

div.gp-jumbotron, div.gp-jumbotron-transparent {
    background-color: #009688;
    text-align: center;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
}

div.gp-jumbotron {
    background-color: #009688;
    color: #fff;
}

.gp-jumbotron.gp-danger {
    background-color: #FF5252;
}

div.gp-jumbotron-transparent {
    background: transparent;
    color: #333;
}

div.gp-jumbotron h1, div.gp-jumbotron-transparent h1 {
    font-size: 32px;
    margin: 0;
}

div.gp-jumbotron a, div.gp-jumbotron-transparent a {
    transition: all .2s linear;
}

div.gp-jumbotron a {
    color: #fff;
    border-bottom: 3px solid #fff;
}

div.gp-jumbotron-transparent a {
    color: #333;
    border-bottom: 3px solid #666;
}

div.gp-jumbotron a:hover, div.gp-jumbotron-transparent a:hover {
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

/**
Profile page
 */
.gp-button-panel {
    padding: 10px 0;
}

.gp-tab-pane {
    padding: 10px 20px;
}

.gp-narrow-width {
    max-width: 700px;
    margin: 0 auto;
}

.gp-list-group-tour .gp-text-title {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.gp-list-group-tour .gp-text-date {
    display: block;
    font-size: 14px;
    color: #777;
}

.gp-tab-content {
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.gp-profile-story-list-item {
    margin: 5px 0;
    padding: 5px 0 10px;
    border-bottom: 1px solid #eee;
}

.gp-profile-story-list-item:last-child {
    border-bottom: none;
}

/**
 * Footer
 */

.footer {
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    border-top: 2px solid #eee;
    font-size: 12px;
}

.footer .gp-copyright {
    font-size: 14px;
}

.ts-footer-menu {
    margin: 5px 0 10px;
    font-size: 14px;
}

.ts-footer-menu span {
    margin: 0 10px 0;
    text-transform: uppercase;
}

.ts-footer-menu a {
    padding: 5px 0;
}

.ts-footer-menu a:hover {
    text-decoration: none;
    background: #009688;
    color: #fff;
    padding: 5px 10px;
}

/**
Utility Size class
 */
.ts-top-bottom-margin-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
/**
scroll to top button
 */


/**
 * Style for big screens ;)
 */

@media screen and (min-width: 1024px) {
    .gp-container-normal, .navbar div {
        max-width: 1024px;
    }

    .gp-carousel .item .gp-card-img {
        height: 400px;
    }
}
